<div class="info">
    <h1>自己紹介</h1>
    <p>このページ運営者の紹介です。</p>

    <h2>後藤　栞</h2>
    <p class="text">Ruby on Rails勉強中です。</p>

    <h3 style="color:#3399CC" >詳細</h3>
    <p class="text">SmartHRでPMMをやっています。<br>趣味はイラストを書くこと。最近はVtuberにハマっています。</p>
</div>